<!DOCTYPE html>
<html>
<head><title>Product 1</title>
   <!-- Microdata Tags -->
  <meta property="og:title" content="Awesome T-shirt. Title updated on 12 Feb">
  <meta property="og:description" content="This T-shirt is made from 100% organic cotton. Super soft, durable, and stylish. Updated">
  <meta property="og:url" content="https://testshopcatalog.azurewebsites.net/product1">
  <meta property="og:image" content="https://example.org/awesome-tshirt.jpg">
  <meta property="product:brand" content="TestBrand">
  <meta property="product:availability" content="in stock">
  <meta property="product:condition" content="new">
  <meta property="product:price:amount" content="19.99">
  <meta property="product:price:currency" content="USD">
  <meta property="product:retailer_item_id" content="awesome_tshirt_001">

<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '692389403806542');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=692389403806542&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
</head>
<body>
    <h1>Awesome T-Shirt</h1>
    <p>This T-shirt is made from 100% organic cotton. Super soft, durable, and stylish.</p>
    <a href="/">← Back to Home go</a>
    <p>
       Product details:
       Name: Awesome T-shirt
       Price: 19.99 uSD
       In stock: Yes
       Condition: New
    </p>
</body>
</html>
